@import url("style.css");
@import url("pagInicial.css");

h2 {
    margin: 15px;
    max-width: 500px;
    text-align: center;
    padding: 8px;
    font-weight: 700;
    font-family: var(--fonte-secundaria);
}


#usuario {
    display: inline;
    padding: 0 6px;
    text-transform: uppercase;

    background-image: linear-gradient(
        to right,
        var(--vermelho),
        var(--vermelho-claro),
        var(--verde-claro)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn-jogarNovamente {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    text-align: center;

    height: 25px;
    width: 280px;
    padding: 10px;

    color: #7c2d12;
    background-color: #fed7aa; /* pêssego */
    border: 2px solid #fb923c;

    border-radius: 8px;
    margin: 8px;

    transition: background-color .2s ease, transform .2s ease;
}


.btn-jogarNovamente:hover {
    background-color: #fb923c;
    color: white;
    transform: translateY(-2px);
}


#link-TS {
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1em;
    margin: 35px 0px 10px;

    background-image: linear-gradient(
        to left,
        var(--vermelho),
        var(--vermelho-claro),
        var(--verde-claro)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons{
    margin: 8px;
    transform: scale(1.1);
}
