@import url("style.css");

body {
    background-image:url(imagens/img-de-fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.titulo {
    font-size: 77px;
}

.sub-titulo{
    font-family: var(---fonte-segundaria);
   font-size: 15px;
    font-weight: bold;
    padding-bottom: 35px;
}

.txtNomeUser {
    font-family: var(---fonte-segundaria);
    padding:10px;
}

#userNome{
    height: 40px;
    width: 310px;
    border: 2.5px solid var(---vermelho-medio);
    border-radius: 5px;
    padding: 3px 15px;
    margin-bottom: 40px;
}

#userNome:focus {
    outline: 0;
}

.btnStart {
    text-decoration: none;
    height: 35px;
    width: 180px;
    border: 1.5px solid var(---verde-claro);
    border-radius: 7px;
    background-color: var(---verde-escuro);
    font-family: var(---fonte-segundaria);
    color: white;
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 2px 4px var(---verde-claro);
    margin: 12px;
    padding-top: 10px;
}

.btnStart:hover {
    background-color: var(---verde-claro);
    box-shadow: none;
    transition: .1s;
}