@import url("style.css");

body {
    background-image:url(imagens/img-de-fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.titulo {
    font-size: 77px;
}

.sub-titulo{
    font-family: var(--fonte-segundaria);
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 35px;
}

.txtNomeUser {
    font-family: var(--fonte-segundaria);
    padding:10px;
}

#nome{
    height: 40px;
    width: 310px;
    border: 2px solid var(--vermelho-claro);
    border-radius: 6px;
    padding: 3px 15px;
    margin-bottom: 40px;
}

#nome:focus {
    outline: none;
    border-color: var(--btn-border);
}


.btnStart {
    height: 42px;
    width: 190px;
    cursor: pointer;

    background-color: var(--btn-fundo);
    color: var(--btn-text);
    border-radius: 8px;
    border: none;

    font-family: var(--fonte-secundaria);
    font-size: 15px;
    font-weight: 700;

    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    margin: 10px;

    transition: transform .2s ease, box-shadow .2s ease, background-color .2s ease;
}


.btnStart:hover {
    cursor: pointer;
    background-color: var(--btn-bg-hover);
    transform: translateY(-2px);
    box-shadow: 0 10px 18px rgba(0,0,0,0.18);
}
