@import url("style.css");

/* ---- HERO ---- */
.hero {
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

/* IMAGEM */
.hero-image {
  display: flex;
  justify-content: flex-start;
}

.hero-image img {
  width: 460px;
  max-width: 100%;
  transform: translateX(-30px);
}

/* CONTEÚDO */
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titulo {
  font-family: var(--fonte-principal);
  font-size: 72px;
}

.sub-titulo {
  font-size: 15px;
  font-weight: bold;
  max-width: 380px;
}

.txtNomeUser {
  font-size: 14px;
}

#nome {
  height: 42px;
  max-width: 310px;
  border: 2px solid var(--vermelho-claro);
  border-radius: 6px;
  padding: 0 15px;
  font-size: 14px;
}

#nome:focus {
  outline: none;
  border-color: var(--btn-border);
}

#mensagem {
  font-size: 13px;
}

/* BOTÃO */
.btnStart {
  width: 190px;
  height: 42px;
  margin-top: 10px;
  background-color: var(--btn-fundo);
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  font-family: var(--fonte-segundaria);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform .2s ease, box-shadow .2s ease, background-color .2s ease;
}

.btnStart:hover {
  background-color: var(--btn-bg-hover);
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.18);
}

@media (max-width: 768px) {

  .page-card {
    padding: 15px;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .hero-content {
    align-items: center;
  }

  .hero-image {
    justify-content: center;
    position: relative;
    margin-bottom: 0px;
  }

  .hero-image {
    display: none;
  }

  .titulo {
    font-size: 48px;
    padding: 0px;
  }

  .sub-titulo {
    margin: 0px;
    max-width: 95%;
    padding: 5px 0px;
  }

  #nome {
    width: 100%;
    max-width: 280px;
  }

  .btnStart {
    margin: 0;
   }
}
