@import url(style.css);

.titulo {
    font-size: 55px;
}

.pergunta {
    font-family: var(---fonte-segundaria);
    width: 590px;
    padding: 5px;
}

#div-opcoes {
    display: flex;
    flex-direction: column;
}

.opcoes {
    list-style: none;
    padding: 10px 10px 10px 25px;
    margin: 10px;
    border: 2px solid var(---verde-claro);
    border-radius: 5px;
    width: 460px;
    background-color: var(---verde-claro);
    text-transform: uppercase;
    font-weight: 700;
}

.opcoes:hover {
    border-color: var(---verde-escuro);
    transition: .2s;
}

button.correta {
    background-color :blueviolet;
    color: white;
}

button.incorreta {
    background-color: brown;
    color: white;
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
}

#mensagem.erro{
    color: red;
}

#mensagem.acerto {
    color: green;
}
