@import url(style.css);
/*tela inicial e final*/

/* MOBILE */
body {
    background-image: none;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

/* imagem exclusiva do mobile */
.tela-responsivo {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    height: 200px;
    width: 100%;
    max-width: 400px;

    background-image: url(imagens/img-responsivo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    pointer-events: none;
}
.titulo {
    font-size: 60px;
    text-align: center;
}

.sub-titulo {
    max-width: 350px;
    text-align: center;
}

.txtNomeUser {
    padding: 4px;
    font-size: 15px;
}

#nome {
    width: 80%;
    max-width: 280px;
}

/* rodapé */
#link-TS,
.midias-sociais {
    width: 100%;
    text-align: center;
}

/* telas de perguntas */
.pergunta {
    width: 80vw;
    margin: 0 6px;
    font-size: 15px;
}

.opcoes {
    width: 74vw;
}

#mensagem.erro,
#mensagem.acerto {
    max-width: 350px;
    text-align: center;
}