@import url(style.css);
/*tela inicial e final*/

body {
    background-image: none;
    overflow: hidden;

}

.tela-responsivo{
    height: 200px;
    width: 490px;
    background-image: url(imagens/img-responsivo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 108%;
    margin: 0px;
    padding: 0px;
    position: absolute;

    top: 50px;
}

.titulo {
    font-size: 70px;
}

.sub-titulo {
    margin: 0 20px;
}

.txtNomeUser{
    padding: 1px;
    font-size: 15px;
}

#nome {
    width: 280px;
}

#link-TS , .midias-sociais {
    width: 200px;
    text-align: center;
}
/*telas perguntas*/

.pergunta{
    width: 350px;
    margin: 0 15px; 
    font-size: 15px;
}

.opcoes{
    width: 370px;
}

#mensagem.erro , #mensagem.acerto{
    width: 350px;
    text-align: center;
}


