/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap');

/*--- Variaveis---*/
:root {
    --fonte-principal: "Boogaloo", serif;
    --fonte-secundaria: "Brawler", serif;

    --cor-de-fundo:#fffaf0;
    --vermelho: #FF0000;
    --vermelho-medio: #EE4E4E;
    --vermelho-claro: #FFA27F;
    --verde-escuro:#799351;
    --verde-claro:#A1DD70;
    --bg-card: #ffffff;
    --btn-fundo: #fde68a;           
    --btn-border: #f59e0b;
    --btn-text: #78350f;
    --btn-bg-hover: #fcd34d;
    --btn-border-hover: #d97706;
    --sucesso: #22c55e;
    --erro: #ef4444;
    --texto-principal: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background-color: var(--bg-pagina);
  font-family: var(--fonte-secundaria);
}

/* FUNDO GERAL*/
.page-bg {
  min-height: 92vh;
  background-color: var(--cor-de-fundo);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

/* CARD CENTRAL  */
.page-card {
  background-color: var(--bg-card);
  border-radius: 22px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.08);
  padding: 40px;
  max-width: 1100px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.titulo {
    font-family: var(--fonte-principal);
    padding: 38px 0 20px 0;

    background-image: linear-gradient(
        to right,
        var(--vermelho),
        var(--vermelho-claro),
        var(--verde-claro),
        var(--verde-escuro)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*---RODAPE---*/
.rodape {
  padding: 20px 20px;
  text-align: center;
  font-size: 13px;
  color: var(--texto-principal);
  opacity: 0.7;
}

.rodape a {
  text-decoration: none;
  color: var(--texto-principal);
}

.rodape a:hover {
  color: var(--btn-border);
}

/*MOBILE*/
@media (max-width: 580px) {
    body {
      overflow: hidden;
    }

    .page-bg {
      padding: 10px;
    }

    .rodape {
      padding: 12px 20px;
    }

}

