/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap');

/*--- Variaveis---*/
:root {
    --fonte-principal: "Boogaloo", serif;
    --fonte-segundaria: "Brawler", serif;

    ---cor-de-fundo:#fffaf0;
    --vermelho: #FF0000;
    --vermelho-medio: #EE4E4E;
    --vermelho-claro: #FFA27F;
    --verde-escuro:#799351;
    --verde-claro:#A1DD70;
    --bg-card: #ffffff;
    --btn-fundo: #fde68a;           
    --btn-border: #f59e0b;
    --btn-text: #78350f;
    --btn-bg-hover: #fcd34d;
    --btn-border-hover: #d97706;
    --sucesso: #22c55e;
    --erro: #ef4444;
    --texto-principal: #1f2937;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(---cor-de-fundo);
}

.titulo {
    font-family: var(--fonte-principal);
    padding: 38px 0 20px 0;

    background-image: linear-gradient(
        to right,
        var(--vermelho),
        var(--vermelho-claro),
        var(--verde-claro),
        var(--verde-escuro)
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
